.Modal {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: -1;
	opacity: 0;
	pointer-events: none;
	color: var(--primary-color);
}

// FIXME убрать переопределение переменных в компоненте
.Modal.dark {
	--bg-color: #07072e;
	--primary-color: #2aaa2a;
}

.overlay {
	widows: 100%;
	height: 100%;
	background-color: var(--overlay-color);
	display: flex;
	align-items: center;
	justify-content: center;
}

.content {
	padding: 20px;
	border-radius: 12px;
	background: var(--bg-color);
	transition: 0.3s transform;
	transform: scale(0);
	max-width: 60%;
}

.opened {
	pointer-events: auto;
	opacity: 1;
	transition: 0.3s opacity;
	z-index: var(--modal-z-index);

	.content {
		transform: scale(1);
	}
}

.opened.closing {
	opacity: 0;
	transition: 0.3s opacity;

	.content {
		transform: scale(0);
	}
}
