.Sidebar {
	position: relative;
	height: calc(100vh - var(--navbar-height));
	width: var(--sidebar-width);
	background: var(--inverted-bg-color);
	transition: width 0.1s;
}

.switchers {
	position: absolute;
	bottom: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.collapseBtn {
	position: absolute;
	right: -32px;
	bottom: 0;
	border-radius: 0 50% 50% 0;
}

.items {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
}

.item {
	margin-top: 10px;
	display: flex;
	align-items: center;
}

.icon {
	margin-left: 24px;
	margin-right: 8px;
	fill: var(--inverted-primary-color);
	height: 32px !important;
	width: 32px !important;
}

.link {
	font-size: var(--font-size-l);
	line-height: var(--font-line-l);
	width: auto;
	transition: all 0.2s;

	// font: var(--font-size-xl);
}

.collapsed {
	width: var(--sidebar-width-collapsed);

	.link {
		opacity: 0;
		transition: all 0.2s;
		display: inline-block;
		width: 0;
	}
}
