.Button {
	cursor: pointer;
	color: var(--primary-color);
}

.clear {
	padding: 0;
	outline: none;
	border: none;
	background: none;
}

.outline {
	background: transparent;
	padding: 10px;
	color: var(--primary-color);
	border: 1px solid var(--primary-color);
}
